/* Stylesheet specific to css4 grid assignment portions */

/* Create the named grid areas for ease of readibility when defining the grids */ 
.header {
	grid-area: header;
}
.css4menu {
	grid-area: menu;
}
.outside-w-wrapper {
	grid-area: outside-w-wrapper;
}
.content {
	grid-area: content;
}
.photogallery {
	grid-area: photogallery;
}
.photo1 {
	grid-area: photo1;
}
.photo2 {
	grid-area: photo2;
}
.photo3 {
	grid-area: photo3;
}
.photo4 {
	grid-area: photo4;
}
.footer {
	grid-area: footer;
	justify-self: stretch;
}

/* Define the grid for the home page (index.php) */
/* Grid is four column. The header, menu, and footer are all full width (100%) */
/* The content area is 75% while the weather sidebar is 25% */
/* This applies for non mobile phone portrait screen widths */
.indexwrapper {
	width: $wrapper-width;
	max-width: $wrapper-max-width;
	margin: 0 auto;
	float: none;
	background-color: $body-background-color;

	display: grid;
	grid-gap: 0px;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-areas:
	"header header header header"
	"menu menu menu menu"
	"content content content outside-w-wrapper"
	"footer footer footer footer";
}

/* Define the grid for the form pages */
/* Grid is four column. The header, menu, and footer are all full width (100%) */
/* The content area is 75% while the weather sidebar is 25% */
/* This applies for non mobile phone portrait screen widths */
.formwrapper {
	width: $wrapper-width;
	max-width: $wrapper-max-width;
	margin: 0 auto;
	float: none;
	background-color: $body-background-color;	

	display: grid;
	grid-gap: 0px;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-areas:
	"header header header header"
	"menu menu menu menu"
	"content content content outside-w-wrapper"
	"footer footer footer footer";
}

/* Define the grid for the thingstodo page (thingstodo.php) */
/* Grid is four column. The header, menu, and footer are all full width (100%) */
/* The content area is 50% while the regular and weather sidebars are 25% */
/* This applies for non mobile phone portrait screen widths */

/* Note that in the non-mobile portrait screen sizes that the sidebar section is shown
   before (or to the left of) the sidebar (township information) */
.thingstodowrapper {
	width: $wrapper-width;
	max-width: $wrapper-max-width;
	margin: 0 auto;
	float: none;
	background-color: $primary-background-color;

	display: grid;	
	grid-gap: 0px;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-areas:
	"header header header header"
	"menu menu menu menu"
	"sidebar content content outside-w-wrapper"
	"footer footer footer footer";
}

/* Define the grid for the photo page (thingstodo.php) */
/* Grid is four columns. The header, menu, photogallery, and footer are all full width (100%) */
/* The individual photos are 25% each */
/* These widths apply for all except mobile phone landscape and portrait screen widths */
.photowrapper {
	width: $wrapper-width;
	max-width: $wrapper-max-width;
	margin: 0 auto;
	float: none;
	background-color: $body-background-color;

	display: grid;
	grid-gap: 0px;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-areas:
	"header header header header"
	"menu menu menu menu"
	"photogallery photogallery photogallery photogallery"
	"photo1 photo2 photo3 photo4"
	"footer footer footer footer";
}

/* Mobile Landscape Screen Sizes */
/* pixel range: $min-phone-landscape-width - ($min-tablet-width - 1) */
// Now using foundation breakpoint() mixin
@media only screen and #{breakpoint(medium)} and #{breakpoint(large down)} {
	/* Change the column width to 50% as we want to have two photos per
	   "row" in this screen width. */
	.photowrapper {
		grid-template-columns: 50%;
		grid-template-areas:
		"header header"
		"menu menu"
		"photogallery photogallery"
		"photo1 photo2"
		"photo3 photo4"
		"footer footer";
	}
}

/* Mobile portrait Screen Sizes */
/* pixel range: <= ($min-phone-landscape-width - 1) */
// Now using foundation breakpoint() mixin
@media only screen and #{breakpoint(medium down)} {
	.indexwrapper {
		grid-template-columns: 100%;
		grid-template-areas:
		"header"
		"menu"
		"content"
		"footer";
	}

	.formwrapper {
		grid-template-columns: 100%;
		grid-template-areas:
		"header"
		"menu"
		"content"
		"footer";
	}

	/* Note that in the mobile portrait screen sizes that the content section is shown
	   before the sidebar (township information) */
	.thingstodowrapper {
		grid-template-columns: 100%;
		grid-template-areas:
		"header"
		"menu"
		"content"
		"sidebar"
		"footer";
	}

	.photowrapper {
		grid-template-columns: 100%;
		grid-template-areas:
		"header"
		"menu"
		"photogallery"
		"photo1"
		"photo2"
		"photo3"
		"photo4"
		"footer";
	}

	/* Do not display the weather sidebar in mobile phone portrait screen width */
	.outside-w-wrapper {
		display: none;
	}
}