/* These are the form specific extends */

.form-heading-color-extend {
	color: $form-heading-font-color;
	background-color: $form-background-color;
}

.form-input-border-color-extend {
	border:1px solid $form-border-color;
	//background-color: $form-input-background-color;	
}

.form-width-margin-padding-extend {
	width:100%;
	margin:0 0 5px;
	padding:10px;
}

.form-display-margin-left-extend {
	display: block;
	margin-left: 2%;
}