// Form Specific Variables
$form-border-color: #CCC;
$form-border-color-hover: #AAA;
$form-background-color: #F6F5E3;
$form-input-background-color: #FFF;
$form-button-font-color: #FFF;
$form-button-background-color: #ED8F00;
$form-button-background-color-hover: #B37518;
$form-heading-font-color: #70482D;
$form-primary-text-color: #61381D;

$form-textarea-height: 100px;
$form-textarea-max-width: 100%;
$form-form50-width: 46%;
$form-phone-portrait-width-form50-width: 96%;

$form-border-color-transition-time: 0.3s;