.nav-flex {
    display: flex;
    list-style-type: none;
    padding: 0;
	// Needed to set margin to 0 to get the menu aligned
    margin: 0;
    background-color: $secondary-background-color;

    li {
        justify-content: center;
        a {
            text-decoration: none;
            align-self: center;
            color: white;
			font-family: 'Lato', sans-serif;
			background-color: $secondary-background-color;
        }
    }
}

.nav-link-flex {
    display: flex;
    padding: 0 5px;
    //position: relative;
    flex-direction: column;

    &:hover {
        background-color: $secondary-background-color;

        a {
            color: $menu-toggle-hover-active-color;
            text-decoration: none;
            
            &+ div {
                display: block;
            }
        }
        
    }

    a {

        &+ div {
            box-shadow: 0 3px 1px rgba(0,0,0,.05);
            display: none;
            font-size: 1rem;
            position: absolute;
            width: 195px;
        }
    }
}

.nav-flex-dropdown {
	list-style-type: none;
    background-color: $secondary-background-color;
}

/* Configure the flexbox gallery container: */
/* Flex direction is row and wrap is enabled */
.photoflexcontainer {
	padding: 3px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

/* Configure the flexbox child item */
.photoflexchild {
	flex: auto;
	width: 300px;
	margin: 3px;

    perspective: 500px;
}

/* Configure the image to have the same width */
/* as the flex child item */
.photoflexchild img {
	width: 100%;
}

/* Perform 3D rotation (along Y axis) of SVG image */
/* When the user hovers over the image */
.photoimg7 {
    transition: all 1s ease-in-out 0.25s;
}

.photoimg7:hover {
    transform: rotateY(360deg);
}

/* Keyframe implementation that scales the image down, rotates it */
/* both along the X and Z 3D axis, and then scales the image back up. */
@keyframes squish-and-rotate {
    12.5% { transform: scale(0.75);
            animation-timing-function: ease-in-out;}
    25% {   transform: scale(0.625);
            transform: rotateX(180deg);
            animation-timing-function: ease-in-out;}
    50% {   transform: scale(0.5);
            animation-timing-function: ease-in-out;}
    75% {   transform: scale(0.625);
            transform: rotateZ(180deg);        
            animation-timing-function: ease-in-out;}
    87.5% { transform: scale(0.75);
            animation-timing-function: ease-in-out;}            
    100% {  transform: scale(1);
            animation-timing-function: ease-in-out;}
}

/* Start the keyframe animation when the mouse hovers over the photoimg9 picture */
.photoimg9:hover {
    animation-name: squish-and-rotate;
    animation-duration: 5s;
}

/* Mobile Landscape Screen Sizes and smaller */
/* pixel range: <767px */
@media only screen and (max-width: $min-tablet-width)  {
	/* Shrink the width of the child flex item to 150px to get more images */
	/* in the smaller screen sizes */
	.photoflexchild {
		width: 150px;
	}
}

/* media queries */
/* Desktop Screen Sizes */
/* Pixel Range: >= $min-desktop-width */
// Now using foundation breakpoint() mixin
@media only screen and #{breakpoint(xlarge)}  {

	.nav-link-flex {
		font-size: 1.25em;
		padding: 1%;
	}
}

/* Tablet Screen Sizes */
/* pixel range: $min-tablet-width - ($min-desktop-width - 1) */
// Now using foundation breakpoint() mixin
@media only screen and #{breakpoint(large)} and #{breakpoint(xlarge down)} {

	.nav-link-flex {
		font-size: 1.1em;
		padding: 0.8em;
	}
}

/* Mobile Landscape Screen Sizes */
/* pixel range: $min-phone-landscape-width - ($min-tablet-width - 1) */
// Now using foundation breakpoint() mixin
@media only screen and #{breakpoint(medium_bk1)} and #{breakpoint(large down)} {

	.nav-link-flex {
		font-size: 1.0em;
		padding: 0.5em;
	}    
}

@media only screen and #{breakpoint(medium_bk2)} and #{breakpoint(medium_bk1 down)} {

	.nav-link-flex {
		font-size: 0.9em;
		padding: 0.5em;
	}    
}

@media only screen and #{breakpoint(medium)} and #{breakpoint(medium_bk2 down)} {

	.nav-link-flex {
		font-size: 0.8em;
		padding: 0.4em;
	}    
}

/* Mobile portrait Screen Sizes */
/* pixel range: <= ($min-phone-landscape-width - 1) */
// Now using foundation breakpoint() mixin
@media only screen and #{breakpoint(medium down)} {
	.nav-flex {
        padding-top: 0;
        flex-wrap: nowrap;
        -webkit-flex-wrap: nowrap;
        flex-direction: column;
        -webkit-flex-direction: column;
        background-color: $secondary-background-color;
    }

	.nav-link-flex {
        width: 90%;
        background-color: $secondary-background-color;
        border-radius: 5px;
        margin-bottom: 5px;
        margin-left: auto;
        margin-right: auto;
        font-size: 22px;
        padding: 5px;

        &:hover {
            background-color: $secondary-background-color;

        a {
                color: $menu-toggle-hover-active-color;
                text-decoration: none;
            
                &+ div {
                    display: none;
                }
            }
        
        }
    }

    .ndfd-li {
        display: none;
    }
}
