// Weather Wrapper Variables
$weather-wrapper-background-color: #AD7623;
$weather-outside-wrapper-background-color: #EEDFAF;
$weather-wrapper-paragraph-text: #FFF;
$weather-outside-wrapper-heading-text: #61381D;
$weather-strong-color: #ED8F00;
$weather-wrapper-width: 90%;
$weather-wrapper-padding-left: 2%;
$weather-wrapper-padding-right: 1%;
$weather-wrapper-padding-top: 1%;

// Font sizes for the outside-w-wrapper h3 tags
$weather-desktop-width-h3-font-size: 1.5em;
$weather-tablet-width-h3-font-size: 1.25em;
$weather-phone-landscape-width-h3-font-size: 1em;

// Font sizes for the outside-w-wrapper p tags
$weather-desktop-width-p-font-size: 1em;
$weather-tablet-width-p-font-size: 0.85em;
$weather-phone-landscape-width-p-font-size: 0.667em;