/* This css file contains the stylings specific to the
   weather widget that shows up on the sidebar for most of
   the pages on this site*/

@import "variables";
@import "weather_variables";
@import "weather_mixins";

.weather-wrapper {
	width: $weather-wrapper-width;
	padding: {
		left: $weather-wrapper-padding-left;
		right: $weather-wrapper-padding-right;
		top: $weather-wrapper-padding-top;
	}
	margin: 0 auto;
	color: white;
	background-color: $weather-wrapper-background-color;
	text-align: center;

	& > p {
		font-family: 'Lato', sans-serif;
		color: $weather-wrapper-paragraph-text;
	}
}

// Nesting for outside-w-wrapper
.outside-w-wrapper {
	display: inline-block;
	background-color: $weather-outside-wrapper-background-color;
	text-align: center;

	h3 {
		font-family: 'Francois One', sans-serif;
		color: $weather-outside-wrapper-heading-text;
	}
	// Nesting with the sibling
	& > p {
		font-family: 'Lato', sans-serif;
		color: $primary-light-text-color;
	}
}

strong {
	color: $weather-strong-color;
}

.capitalize {
	text-transform: capitalize;
}

/* media queries */

/* Desktop Screen Sizes */
/* Pixel Range: >= $min-desktop-width */
// Now using foundation breakpoint() mixin
@media only screen and #{breakpoint(xlarge)} {
	@include set-outside-w-wrapper-props($weather-desktop-width-h3-font-size, $weather-desktop-width-p-font-size)
}

/* Tablet Screen Sizes */
/* pixel range: $min-tablet-width - ($min-desktop-width - 1) */
// Now using foundation breakpoint() mixin
@media only screen and #{breakpoint(large)} and #{breakpoint(xlarge down)} {
	@include set-outside-w-wrapper-props($weather-tablet-width-h3-font-size, $weather-tablet-width-p-font-size)
}

/* Mobile Landscape Screen Sizes */
/* pixel range: $min-phone-landscape-width - ($min-tablet-width - 1) */
// Now using foundation breakpoint() mixin
@media only screen and #{breakpoint(medium)} and #{breakpoint(large down)} {
	@include set-outside-w-wrapper-props($weather-phone-landscape-width-h3-font-size, $weather-phone-landscape-width-p-font-size)
}

/* Mobile portrait Screen Sizes */
/* pixel range: <= ($min-phone-landscape-width - 1) */
// Now using foundation breakpoint() mixin
@media only screen and #{breakpoint(medium down)} {

}